* 
{
  font-family: sans-serif;
}

#container
{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-color: #666666;
}

#logo
{
	background-color: #12c7a0;
	color: white;
	text-align: center;
	padding: 5px;
	min-height: 30px;
	font-size: 20px;
	border-bottom-style: solid;
	border-bottom-color: black;
}

#selectBox
{
	background-color: #95a6a1;
	color: white;
	text-align: left;
	padding: 5px;
	min-height: 30px;
	font-size: 20px;
	border-bottom-style: solid;
	border-bottom-color: black;
}

#invoice
{
	background-color: #white;
	color: black;
	text-align: center;
	padding: 15px;
	float: left;
	min-height: 620px;
	width: 634px;
	border-left-style: solid;
	border-left-width: 3px;
	border-bottom-style: solid;
	border-bottom-width: 3px;
}

#walidated
{
	background-color: #95a6a1;
	color: black;
	text-align: left;
	padding: 15px;
	float: left;
	min-height: 620px;
	width: 500px;
	border-left-style: solid;
	border-left-color: black;
	border-left-width: 3px;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: black;
}

#datas
{
	background-color: #95a6a1;
	color: black;
	text-align: left;
	padding: 15px;
	float: left;
	min-height: 620px;
	width: 1170px;
	border-bottom-style: solid;
	border-bottom-color: black;
}

.walidated table
{
	margin: 0 auto;
}

#footer
{
	background-color: #12c7a0;
	color: white;
	text-align: center;
	padding: 5px;
	clear: both;
	min-height: 30px;
	font-size: 12px;
}

#footer2
{
	background-color: #12c7a0;
	color: white;
	text-align: center;
	padding: 5px;
	min-height: 30px;
	font-size: 12px;
}

.custom-button
{
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	padding: 10px;
	color: white;
	background-color: #009578;
	border: 1px solid #000;
	border-radius: 5px;
	cursor: pointer;
}

.custom-button:hover
{
	background-color: #6e7a77;
	cursor: pointer;
}

.custom-text
{
	margin-left: 10px;
	font-family: sans-serif;
	color: white;
}

.table-content
{
  border-collapse: collapse;
  margin: 10px 0;
  font-size: 0.9em;
  min-width: 450px;
  border-radius: 5px 5px 0px 0px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-content thead tr
{
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.table-content th,
.table-content td
{
  padding: 5px 8px;
}

.table-content tbody tr
{
  border-bottom: 1px solid #dddddd;
}

.table-content tbody tr:nth-of-type(even)
{
  background-color: #d4d4d4
}

.table-content tbody tr:last-of-type
{
  border-bottom: 2px solid #009879;
}







