<!DOCTYPE html>
<html lang="en">
 
<head>
	<meta charset="utf-8">
    <title>Walidacja Faktur Online</title>
	<link href="../static/style.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
 
<body>
 
    <div id="container">
        
		<div id="logo">
			<h1>POPRAW DANE FAKTURY</h1>
		</div>

		<div id="datas">
		
			<table class="table-content" align="center">
				<thead>
					<tr>
						<th>OPIS</th>
						<th>ODCZYTANA WARTOŚĆ</th>
						<th>POPRAWIONA WARTOŚĆ</th>
					</tr>
				</thead>
				
				<tbody>
					<tr>
						<td>Numer faktury</td>
						<td>{{invoiceNumber}}</td>
						<td><input type="text" class="corrected-data" value='{{invoiceNumber}}' name="invoiceNumber" id="invoiceNumber"></td>
					</tr>
					
					<tr>
						<td>NIP sprzedawcy</td>
						<td>{{sellerNip}}</td>
						<td><input type="text" class="corrected-data" value='{{sellerNip}}' name="sellerNip" id="sellerNip"></td>
					</tr>
					
					<tr>
						<td>Miasto sprzedawcy</td>
						<td>{{sellerCity}}</td>
						<td><input type="text" class="corrected-data" value='{{sellerCity}}' name="sellerCity" id="sellerCity"></td>
					</tr>
					
					<tr>
						<td>Adres sprzedawcy</td>
						<td>{{sellerAddress}}</td>
						<td><input type="text" class="corrected-data" value='{{sellerAddress}}' name="sellerAddress" id="sellerAddress"></td>
					</tr>
					
					<tr>
						<td>Nazwa sprzedawcy</td>
						<td>{{sellerName}}</td>
						<td><input type="text" class="corrected-data" value='{{sellerName}}' name="sellerName" id="sellerName"></td>
					</tr>
					
					<tr>
						<td>NIP nabywcy</td>
						<td>{{buyerNip}}</td>
						<td><input type="text" class="corrected-data" value='{{buyerNip}}' name="buyerNip" id="buyerNip"></td>
					</tr>
					
					<tr>
						<td>Miasto nabywcy</td>
						<td>{{buyerCity}}</td>
						<td><input type="text" class="corrected-data" value='{{buyerCity}}' namwe="buyerCity" id="buyerCity"></td>
					</tr>
					
					<tr>
						<td>Adres nabywcy</td>
						<td>{{buyerAddress}}</td>
						<td><input type="text" class="corrected-data" value='{{buyerAddress}}' name="buyerAddress" id="buyerAddress"></td>
					</tr>
					
					<tr>
						<td>Nazwa nabywcy</td>
						<td>{{buyerName}}</td>
						<td><input type="text" class="corrected-data" value='{{buyerName}}' name="buyerName" id="buyerName"></td>
					</tr>
					
					<tr>
						<td>Kwota całkowita</td>
						<td>{{invoiceAmount}}</td>
						<td><input type="text" class="corrected-data" value='{{invoiceAmount}}' name="invoiceAmount" id="invoiceAmount"></td>
					</tr>
				</tbody>
			</table>
					
					
			<table class="table-content" align="center" id="positions-table">
				<thead>
					<tr>
						<th>ODCZYTANA NAZWA USŁUGI</th>
						<th>POPRAWIONA NAZWA USŁUGI</th>
						<th>ODCZYTANY KOSZT USŁUGI [PLN]</th>
						<th>POPRAWIONY KOSZT USŁUGIi [PLN]</th>
					</tr>
				</thead>
				
				<tbody>
				
					{% for position in positions %}
						<tr>
							<td>{{ position.positionName }}</td>
							<td><input type="text" class="corrected-data" value='{{ position.positionName }}' name="positionName{{ loop.index }}" id="positionName{{ loop.index }}"></td>
							<td>{{ position.positionAmount }}</td>
							<td><input type="text" class="corrected-data" value='{{ position.positionAmount }}' name="positionAmount{{ loop.index }}" id="positionAmount{{ loop.index }}"></td>
						</tr>
					{% endfor %}
					
				</tbody>	
			</table>
				
			<button id = "accept-btn" class = "custom-button" onclick="submit_changes();">ZATWIERDŹ FAKTURĘ</button>
			<!-- <button id = "accept-btn" class = "custom-button" >ZATWIERDŹ FAKTURĘ</button> -->
			<button type = "button" id = "add-row" class = "custom-button">DODAJ NOWĄ POZYCJĘ</button>
			
		</div>
		
		<div id="footer2">
			<h1>footer</h1>
		</div>
		
    </div>
	
	
	<script type="text/javascript">
		const table = document.getElementById("positions-table");
		const addButton = document.getElementById("add-row");

		addButton.addEventListener("click", function() {
			var row = table.insertRow(-1);
			var cell1 = row.insertCell(0);
			var cell2 = row.insertCell(1);
			var cell3 = row.insertCell(2);
			var cell4 = row.insertCell(3);
			cell1.innerHTML = "-";
			cell2.innerHTML = "<input type='text' class='corrected-data'>"; 
			cell3.innerHTML = "-"; 
			cell4.innerHTML = "<input type='text' class='corrected-data'>"; 
		});
		
		function submit_changes() {
		
			var totalRowCount = 0;
			var rowCount = 0;
			var rows = table.getElementsByTagName("tr")
			
			for (var i = 0; i < rows.length; i++) {
				totalRowCount++;
				if (rows[i].getElementsByTagName("td").length > 0) {
					rowCount++;
				}
			}
			
			/*var data = {
				rows: rowCount
			};*/

			var invoiceNumber = document.getElementById("invoiceNumber").value;
			var sellerNip = document.getElementById("sellerNip").value;
			var sellerCity = document.getElementById("sellerCity").value;
			var sellerAddress = document.getElementById("sellerAddress").value;
			var sellerName = document.getElementById("sellerName").value;
			var buyerNip = document.getElementById("buyerNip").value;
			var buyerCity = document.getElementById("buyerCity").value;
			var buyerAddress = document.getElementById("buyerAddress").value;
			var buyerName = document.getElementById("buyerName").value;
			var invoiceAmount = document.getElementById("invoiceAmount").value;
			
			var data ={
				numerFaktury: invoiceNumber,
				nipSprzedawcy: sellerNip,
				miastoSprzedawcy: sellerCity,
				adresSprzedawcy: sellerAddress,
				nazwaSprzedawcy: sellerName,
				nipNabywcy: buyerNip,
				miastoNabywcy: buyerCity,
				adresNabywcy: buyerAddress,
				nazwaNabywcy: buyerName,
				kwotaFaktury: invoiceAmount
			};
			
			
			fetch('/correctInvoice', {
				method: 'POST',
				body: JSON.stringify(data)
			})
			.then(function (response) {
				if (response.status !== 200) {
					console.log(`Looks like there was a problem. Status code: ${response.status}`);
					return;
				}
				response.json().then(function (data) {
					console.log(data);
					window.location.href = '/presentData';    
				});
			})
			.catch(function (error) {
				console.log("Fetch error: " + error);
			});
			
			console.log(`Wyslano!!!`)

		}
		
		/*$(document).ready(function(){
            $("#accept-btn").on("click",function(){
                var totalRowCount = 0;
				var rowCount = 0;
				var rows = table.getElementsByTagName("tr")
			
				for (var i = 0; i < rows.length; i++) {
					totalRowCount++;
					if (rows[i].getElementsByTagName("td").length > 0) {
						rowCount++;
					}
				}*/
			
				/*var data = {
					rows: rowCount
				};*/
				
				
				//var invoiceNumber = document.getElementsByName("invoiceNumber")[0].value
				/*var sellerNip = document.getElementsByName("sellerNip")[0].value
				var sellerCity = document.getElementsByName("sellerCity")[0].value
				var sellerAddress = document.getElementsByName("sellerAddress")[0].value
				var sellerName = document.getElementsByName("sellerName")[0].value
				var buyerNip = document.getElementsByName("buyerNip")[0].value
				var buyerCity = document.getElementsByName("buyerCity")[0].value
				var buyerAddress = document.getElementsByName("buyerAddress")[0].value
				var buyerName = document.getElementsByName("buyerName")[0].value
				var invoiceAmount = document.getElementsByName("invoiceAmount")[0].value*/
				
				/*alert(invoiceNumber);
				
				var data ={
					numerFaktury: invoiceNumber
				};
				
				stringData = JSON.stringify(data);
				
                window.location.href = '/correctInvoice/'+data;                           
            })
        })*/
		
		/*(document).ready(function(){
		$('#accept-btn').click(function(event){
			event.preventDefault();
			JsonData.dd_token = data['dd_token'];
			JsonData.file_name = data['file'];
			JsonData.email = $('input[name="email"]').val();
			JsonData.configuration.push(JsonArr);
			var url= window.location.origin+'/post_job';
			$.ajax({
				url: url, 
				method : "POST" , 
				dataType: 'json',
				data : JsonData ,
				success:function(result){
					$("#div1").html(result);
			}});
			});
		})*/
		
	</script>
	
	
</body>
</html>