<!DOCTYPE html>
<html lang="en">
 
<head>
	<meta charset="utf-8">
    <title>Walidacja Faktur Online</title>
	<link href="../static/style.css" rel="stylesheet">
</head>
 
<body>
 
    <div id="container">
        
		<div id="logo">
			<h1>POPRAW DANE FAKTURY</h1>
		</div>

		<div id="datas">
						<table class="table-content" align="center">
				<thead>
					<tr>
						<th>OPIS</th>
						<th>WARTOŚĆ</th>
					</tr>
				</thead>
				
				<tbody>
					<tr>
						<td>Numer faktury</td>
						<td>{{invoiceNumber}}</td>
					</tr>
					
					<tr>
						<td>NIP sprzedawcy</td>
						<td>{{sellerNip}}</td>
					</tr>
					
					<tr>
						<td>Miasto sprzedawcy</td>
						<td>{{sellerCity}}</td>
					</tr>
					
					<tr>
						<td>Adres sprzedawcy</td>
						<td>{{sellerAddress}}</td>
					</tr>
					
					<tr>
						<td>Nazwa sprzedawcy</td>
						<td>{{sellerName}}</td>
					</tr>
					
					<tr>
						<td>NIP nabywcy</td>
						<td>{{buyerNip}}</td>
					</tr>
					
					<tr>
						<td>Miasto nabywcy</td>
						<td>{{buyerCity}}</td>
					</tr>
					
					<tr>
						<td>Adres nabywcy</td>
						<td>{{buyerAddress}}</td>
					</tr>
					
					<tr>
						<td>Nazwa nabywcy</td>
						<td>{{buyerName}}</td>
					</tr>
					
					<tr>
						<td>Kwota całkowita</td>
						<td>{{invoiceAmount}}</td>
					</tr>
					
					<tr style="background-color: #009879; color: #ffffff; font-weight: bold;">
						<td>Nazwa usługi</td>
						<td>Koszt usługi [PLN]</td>
					</tr>
					
					{% for position in positions %}
						<tr>
							<td>{{ position.positionName }}</td>
							<td>{{ position.positionAmount }}</td>
						</tr>
					{% endfor %}
					
				</tbody>	
			</table>
		</div>
		
		<div id="footer2">
			<h1>footer</h1>
		</div>
		
    </div>
	
	
</body>
</html>