<!DOCTYPE html>
<html lang="en">
 
<head>
	<meta charset="utf-8">
    <title>Walidacja Faktur Online</title>
	<link href="../static/style.css" rel="stylesheet">
</head>
 
<body>
 
    <div id="container">
        
		<div id="logo">
			<h1>Automatyczna walidacja faktur</h1>
		</div>
		
		<div id="selectBox">
		    <form action="/upload-invoice" method = "POST" enctype="multipart/form-data">
				<input type = "file" name = "invoice" id = "real-file" hidden = "hidden"/>
				<input type = "submit" id = "real-submit" class = "custom-button" value="PRZEŚLIJ"/>
				<button type = "button" id = "custom-file-btn" class = "custom-button">WYBIERZ FAKTURĘ</button>
				<span id = "custom-text" class = "custom-text">Nie wybrano faktury</span>
			</form>
		</div>
		
		<div id="invoice">
			<img src = "{{url_for('static', filename=invoiceName)}}" width="400" height="600">
		</div>
		
		<div id="walidated">
			<h1>dane odczytane</h1>
		</div>
		
		<div id="footer">
			<h1>footer</h1>
		</div>
		
    </div>
	
	<script>
		const realFileBtn = document.getElementById("real-file");
		const customFileBtn = document.getElementById("custom-file-btn");
		const customTxt = document.getElementById("custom-text");

		customFileBtn.addEventListener("click", function() {
			realFileBtn.click();
		});
		
		realFileBtn.addEventListener("change", function() {
			if (realFileBtn.value) {
				customTxt.innerHTML = realFileBtn.value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/)[1];
			} else {
				customTxt.innerHTML = "Nie wybrano faktury";
			}
		});
	</script>
	
</body>
 
</html>